
@{
    ViewBag.Title = "Index";
}

<h2>客戶銀行資訊</h2>

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("客戶銀行資訊新增", "Create", "CustomerBank")</li>
        <li>@Html.ActionLink("客戶銀行資訊清單", "Details", "CustomerBank")</li>
    </ul>

</div>