
@{
    ViewBag.Title = "Index";
}

<h2>客戶聯絡人首頁</h2>
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("客戶聯絡人新增", "Create", "CustContext")</li>
        <li>@Html.ActionLink("客戶聯絡人清單", "List", "CustContext")</li>
    </ul>

</div>

